.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.toolbar-toggle {
    background-color: #333;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}

.toolbar-toggle:checked {
    background-color: #005b46;
    color: white;
}